
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">



<body><div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method ="post">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input name="citation" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Citation">
                    </div>

                    <div class="col">
                        <input name="auteur" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Auteur">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button onclick="research_citation()" class="btn btn-lg btn-success" type="submit">Rechercher</button>
                    </div>
                    <!--end of col-->

                </div>

            </form>

        </div>
        <!--end of col--><div class="col-auto">
        <a href="connexion"><button class="btn btn-primary">Connexion</button></a>
        <a href="inscription"><button class="btn btn-primary">Inscription</button></a>
    </div>


    </div>

</div>
<div>
<table class="table">
     <thead class="thead-dark">
        <tr>
            <th scope="col">Citation</th>
            <th scope="col">Auteur</th>
        </tr>
    </thead>
{% for elem in list_citations %}
    <tr><td>{{elem.text}}</td><td>{{elem.author}}</td></tr>

{% endfor %}
</table>
</div>
</body>
