{% extends "base.html" %}
{% block content %}
<body><div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method ="post">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <em class="fas fa-search h4 text-body"></em>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input name="citation" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Citation">
                    </div>

                    <div class="col">
                        <input name="auteur" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Auteur">
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bouton de tri
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                            <a class="dropdown-item" href="#">Action 3</a>
                        </div>
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button onclick="research_citation()" class="btn btn-lg btn-success" type="submit">Rechercher</button>
                    </div>

                </div>
            </form>


        </div>
        {% if 'mail' in session %}
        <div class="col-auto">
            <a href="add_citation"><button class="btn btn-primary">Ajouter</button></a>
            <a href="deconnexion"><button class="btn btn-primary">Déconnexion</button></a>
        </div>
        {% else %}
        <div class="col-auto">
            <a href="connexion"><button class="btn btn-primary">Connexion</button></a>
            <a href="inscription"><button class="btn btn-primary">Inscription</button></a>
        </div>
        {% endif %}

    </div>

</div>
<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Citation</th>
            <th scope="col">Auteur</th>
            <th scope="col">Oeuvre</th>
            <th scope="col">Date</th>
            <th scope="col">Langue</th>
            <th scope="col">Favoris</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for elem in list_citations %}
        <tr>
            <td>{{ elem.text }}</td>
            <td>{{ elem.author }}</td>
            <td>{{ elem.oeuvre }}</td>
            <td>{{ elem.date }}</td>
            <td>{{ elem.langue }}</td>
            <td><input type="checkbox" name="fav"/></td>
            {% if elem.added_by == session['mail'] %}
            <td><form action = "/button" method="post"><button type="submit" class="btn btn-danger" name="delete" value="{{ elem._id }}" >Supprimer</button></form></td>
            {% else %}
            <td>Non supprimable</td>
            {% endif %}
        </tr>

        {% endfor %}
    </table>
</div>
</body>
{% endblock %}