{% extends "base.html" %}
{% block content %}
<body>
<div class="container">
  <h1>Inscription</h1>
  <br>
  <form method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entrez votre mail" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mot de passe</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Entrez votre mot de passe" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirmation de Mot de Passe</label>
      <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirmez votre mot de passe" required>
    </div>
    <input onclick="add_user()" type="submit" class="btn btn-primary" value="S'inscrire"/>
  </form>
  {% if error %}
    <p class="error"><strong>Erreur:</strong> {{ error }}
  {% endif %}
</div>
</body>
{% endblock %}